absl-py>=1.2.0
einops>=0.4.1
h5py>=3.7.0
keopscore>=2.1
opt-einsum>=3.3.0
pandas>=2.2.3
pytorch-wavelet>=1.2
PyWavelets>=1.8.0
scikit-image>=0.25.2
scikit-learn>=1.6.1
numpy>=1.26.4
scipy>=1.15.1
pyyaml>=6.0.0         # YAML解析和生成库
TA-Lib>=0.4.32        # 技术分析库，用于计算金融指标
statsmodels>=0.13.2
sympy>=1.11.1
joblib>=1.4.2
json5~=0.9.21         # JSON for Humans
threadpoolctl>=3.5.0
torch==2.6.0
