absl-py>=1.2.0
einops>=0.4.1
h5py>=3.7.0
keopscore>=2.1
opt-einsum>=3.3.0
pandas>=2.2.3
pytorch-wavelet>=1.2
PyWavelets>=1.4.1
scikit-image>=0.19.3
scikit-learn>=1.6.1
numpy>=1.26.4
scipy>=1.15.1
statsmodels>=0.13.2
sympy>=1.11.1
joblib>=1.4.2
threadpoolctl>=3.5.0
torch==2.6.0
